body {
  padding-top: 50px; }

.navbar {
  padding: 0; }

.nav.navbar-nav .nav-link {
  padding: 0.85rem 1rem; }

.nav.navbar-nav .active .nav-link {
  color: #555;
  background: #e7e7e7; }

.navbar-brand {
  padding: .65rem; }

.em-text {
  color: #1b222a !important;
}

.col-lg-4 {
  margin-bottom: 20px; }

section {
  padding: 40px 0 40px 0; }

.jumbotron {
  background: #1b222a;
  color: white;
  height: 200px;
  overflow: hidden; }

.jumbotron h1 {
  margin-top: 60px; }

.jumbotron p {
  margin-bottom: 40px; }

.jumbotron img.app-btn {
  width: 40%;
  margin-right: 30px; }

.jumbotron img.showcase-img {
  width: 75%; }

img.demo {
  width: 100%;
  padding: 3px;
  border: 1px solid black; }

section#feature {
  background: #aa181f;
  color: white;
  padding: 40px;
  overflow: auto; }

section#feature ul li {
  font-size: 22px;
  list-style: none;
  line-height: 2.0em; }

section#feature ul {
  padding: 0;
  margin: 0; }

section#title-bar {
  padding: 0px;
  margin: 0;
  height: 120px;
  background: #aa181f;
  color: white;
  vertical-align: bottom;
}

section#title-bar h1 {
  margin-top: 1.5rem;
  margin-bottom: 0px;
  padding: 0px;
}
section#title-bar p {
  margin: 0px;
  padding: 0px;
}


footer {
  background: #333333;
  color: white;
  padding: 30px 0 20px 0; }

footer li {
  float: left;
  padding: 0 10px 0 10px;
  list-style: none; }

footer a {
  color: white; }

footer p {
  float: right; }

#accordion {
  margin-bottom: 20px; }

.card + .card {
  margin-top: 5px; }

.card .card-header h6 {
  font-weight: normal; }

.card .card-header a {
  color: inherit;
}

.control-label.error {
  color: red;
  font-size: 12px;
}

.bg-danger {
  background-color: #aa181f !important;
  color: white !important;
}

/* media queries */
@media (min-width: 1200px) {
  .jumbotron img.showcase-img {
    width: 61%;
    margin: 5px 0 0 40px; } }

@media (min-width: 991px) {
  .show-img {
    display: none; } }

@media (min-width: 768px) and (max-width: 990px) {
  .jumbotron img.app-btn {
    width: 30%; }
  .jumbotron {
    height: 400px !important;
    background-size: 100% 100%; }
  .jumbotron h1 {
    margin-top: 10px; } }

@media (max-width: 768px) {
  .jumbotron {
    height: 350px !important;
    background-size: 100% 100%; }
  .jumbotron h1 {
    margin-top: 10px; }
}

.form-group {
  margin-bottom: 0px;
}